# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\awd-master\线上awd平台源代码\awd-lastest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
